{{!-- Search Page --}}

<div>
    <h3 class="text-center">Which country would you like to travel to?</h3>
    
    <form id="search-form" class="input-group">
        <input class="form-control" name="search" type="search"
            placeholder="Search by using a two-digit Country Code. (i.e. CA for Canada)" aria-label="Search">
        <button class="btn btn-custom" id ="buttonSearch"type="submit">Search</button>
    </form>
    
    {{!-- use this if we can't get the list of country codes --}}
    <div class="form-text ms-1">To look up your desired country code, you can use this <a href="https://laendercode.net/en/countries.html">website.</a></div>

    {{!--div container for buttons --}}
    {{!-- <div id="prior-searches" class="list-group"></div>
    <hr> --}}

    {{!-- div container for country title name spot? --}}
    <div class="container-fluid mt-5 ">

        <div class="countryName">
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body entryContainer">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body maskContainer">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body riskContainer ">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body docContainer">
                {{!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
        </div>

    </div>