{{!-- Homepage --}}

<div class="text-center">
  <h2>Welcome to our Covid Travel Restrictions Guide.</h2>
  <p>Search for a country and retrieve updated covid travel restrictions. </p>

  <hr>

  <h6>To search for a desired country destination, begin with <a href="/login">logging in</a> or <a
      href="/signup">signing up for an account</a>.</h6>

</div>