{{!-- Login Page --}}

<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>

  <form id="login-form" class="card-body">

    <div class="mb-3">
      <label for="email-input-login" class="form-label">Email</label>
      <input type="email" class="form-control" id="email-input-login" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-input-login">
    </div>
    <button type="submit" class="btn btn-custom">Submit</button>
    
  </form>

</div>

<script src="./js/login.js"></script>